.sidebar-overlay { display:none; }
@media(max-width:1024px){
  .sidebar { transform:translateX(-100%); }
  .sidebar.sidebar-open { transform:translateX(0); }
  .sidebar-overlay { display:block; position:fixed; inset:0; background:rgba(0,0,0,.5); z-index:999; }
}
